*{
    margin:0;
}
body{
    font-family: Arial;
}
a{
    text-decoration: none;
    color: white;
}
p{
    line-height: 1.5;
}
.btn{
    display: block;
    background-color: orange;
    width: 100;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
img{
    max-width: 100;
}
.btn-blog{
    display: block;
    background-color: black;
    width: 100;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}




/*header*/
header{
background-image: url(./realEstate-img-main/header.jpg);
height: 300px;
background-size: cover;
color:white;
text-align: center;
}

/*utlilities*/
.container{
    width: 50;
    margin: 20px auto;

}

/*header*/
header{
    background-image: url(./realEstate-img-main/header.jpg);
    height: 300px;
    background-size:cover;
    color:white;
    text-align: center;
}
.menu-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*main*/
.about-container{
    display: flex;
    justify-content: center;
}

.houses-container{
display: flex; 
gap: 10px;
}




.houses-item{
background-color: #dedede;
}
.house-text{
padding:20;
}
.green-text{
color: green;
}

.icon-flex{
    display:flex;
    gap:10px;
}

.list-flex{
    display: flex;
   
}

.div-flex{
    display: flex;
    display: inline-flex;
    padding: 20px;

    
}


/*phone view*/

@media((max-width:600px)){
html{
    font-size:12px;
}
header{
    
  background-image: url(./realEstate-img-main/header.jpg);
}
div{
    width: 100%;
    margin: 0px 0px 60px 0px;
}
.container{
    flex-direction: column;
    font-size: 14px;
    width: 100px;
    margin:10px;
}
.container img{
    width: 100%;
}
.about-container{
  display: flex;
  flex-direction: column;
 
  
}
ul{
   display: inline;
}
.house-item-mobile{
    display: flex;
    display: grid;
}
.icon-flex{
    display: inline;
}
.houses-item{
    
    width: auto;

}
.div-flex1{
    align-items: flex-start;
}

}

